@model IEnumerable<TPFinalGrupo4.Models.Alojamiento>

@{
    ViewData["Title"] = "Index";
}

<div class="justify-content-center">
    <form asp-action="all">
        <div class="form-row justify-content-center">
            <div class="form-group col-md-3">
                <label>Precio: </label>
                <input type="number" name="precio" class="form-control" id="precio" placeholder="Ingrese el precio minimo" required>
            </div>
            <div class="form-group col-md-3">
                <label>Cantidad de Estrellas: </label>
                <select id="estrellas" name="estrellas" class="form-control" required>
                    <option value="" selected>-- Minimas estrellas --</option>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Cantidad de Personas: </label>
                <select id="cantidadDePersonas" name="cantidadDePersonas" class="form-control" required>
                    <option value="" selected>-- Minima cantidad de personas --</option>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2 align-self-end">
                <button type="submit" class="btn btn-outline-primary btn-block">Filtrar</button>
            </div>
        </div>
    </form>
</div>

<div class="row row-cols-1 row-cols-md-2 ">
    @foreach (var item in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <!--<img src="https://picsum.photos/100/100?random=@item.Id" class="card-img-top" alt="...">-->
                <div class="card-body">
                    <h5 class="card-title text-capitalize">
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </h5>
                    <p class="card-text text-capitalize mb-0 pb-0">
                        Ciudad: @item.Ciudad
                    </p>
                    <p class="card-text text-capitalize mb-0 pb-0">
                        Barrio: @item.Barrio
                    </p>
                    <p class="card-text mb-0 pb-0">
                        TV @Html.DisplayFor(modelItem => item.Tv) | @Html.DisplayFor(modelItem => item.Estrellas) estrellas
                    </p>
                    <p class="card-text">
                        $
                        @if (item.Tipo == "hotel")
                        {
                            @Html.DisplayFor(modelItem => item.PrecioPorPersona)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PrecioPorDia)
                        }
                    </p>
                    <a asp-route-id="@item.Id"
                       asp-controller="Reservas"
                       asp-action="Create"
                       class="btn btn-success">
                        Ver
                    </a>
                </div>
            </div>
        </div>
    }
</div>