@model IEnumerable<TPFinalGrupo4.Models.Alojamiento>

@{
    ViewData["Title"] = "Buscador";
}
@inject LanguageService language

<!-- FORMULARIO DEL BUSCADOR -->
<div class="justify-content-center mt-3">
    <form asp-action="Buscador" method="GET">
        <div class="form-row justify-content-center">

            <!-- CIUDAD -->
            <div class="form-group col-md-2">
                <label for="ciudad">@language.Getkey("Ciudad"): </label>
                <input type="text" name="ciudad" class="form-control" id="ciudad" placeholder="Ingrese la ciudad..." required>
            </div>

            <!-- TIPO DE ALOJAMIENTO-->
            <div class="form-group col-md-2">
                <label for="tipoDeAlojamiento">@language.Getkey("Tipo"): </label>
                <select id="tipoDeAlojamiento" name="tipoDeAlojamiento" class="form-control" required>
                    <option value="Todos">Todos</option>
                    <option value="Cabaña">Cabaña</option>
                    <option value="Hotel">Hotel</option>
                </select>
            </div>

            <!-- INPUT FECHA DESDE -->
            <div class="form-group col-md-3">
                <label for="fechaDesde" class="control-label">@language.Getkey("Fecha Desde"): </label>
                <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" max="2021-12-31" required />
            </div>

            <!-- INPUT FECHA HASTA -->
            <div class="form-group col-md-3">
                <label for="fechaHasta" class="control-label">@language.Getkey("Fecha Hasta"): </label>
                <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" max="2021-12-31" required />
            </div>

            <!-- BOTON -->
            <div class="form-group col-12 col-md-2">
                <input type="submit" value=@language.Getkey("Buscador") class="btn btn-success" />
            </div>
        </div>
    </form>
</div> <!-- FIN DEL BUSCADOR-->

@foreach (var item in Model)
{
    <p>
        @item.Id <br />
        @item.Tipo <br />
    </p>
}

    <!-- VALIDACION DE FECHAS -->
<script type="text/javascript">

    // Fecha actual
    const hoy = moment(new Date()).format('YYYY-MM-DD')

    // Formulario
    const formulario = document.getElementById("formulario-reserva");
    const inputFechaDesde = document.getElementById("fechaDesde")
    const inputFechaHasta = document.getElementById("fechaHasta")
    inputFechaDesde.min = hoy
    inputFechaHasta.min = hoy

    formulario.addEventListener("submit", (e) => {
        e.preventDefault()

        const diasFechaDesde = moment(inputFechaDesde.value).dayOfYear()
        const diasFechaHasta = moment(inputFechaHasta.value).dayOfYear()

        if ((diasFechaHasta - diasFechaDesde) <= 0) {
            alert('Fechas no validas, vuelva a intentarlo')
            formulario.reset()
        } else {
            if (confirm("¿ Desea realizar la reserva ?")) {
                formulario.submit()
            }
        }
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


