@model IEnumerable<TPFinalGrupo4.Models.Alojamiento>

@{
    ViewData["Title"] = "Buscador";
}
@inject LanguageService language


<!-- FORMULARIO DEL BUSCADOR -->
<div class="justify-content-center mt-3">
    <form asp-action="Buscador" method="GET">
        <div class="form-row justify-content-center">

            <!-- CIUDAD -->
            <div class="form-group col-md-2">
                <label for="ciudad">@language.Getkey("Ciudad"): </label>
                <input type="text" name="ciudad" class="form-control" id="ciudad" placeholder="Ingrese una ciudad..." >
            </div>

            <!-- TIPO DE ALOJAMIENTO-->
            <div class="form-group col-md-2">
                <label for="tipoDeAlojamiento">@language.Getkey("Tipo"): </label>
                <select id="tipoDeAlojamiento" name="tipoDeAlojamiento" class="form-control" required>
                    <option value="Todos">Todos</option>
                    <option value="Cabaña">Cabaña</option>
                    <option value="Hotel">Hotel</option>
                </select>
            </div>

            <!-- INPUT FECHA DESDE -->
            <div class="form-group col-md-3">
                <label for="fechaDesde" class="control-label">@language.Getkey("Fecha Desde"): </label>
                <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" max="2021-12-31" required />
            </div>

            <!-- INPUT FECHA HASTA -->
            <div class="form-group col-md-3">
                <label for="fechaHasta" class="control-label">@language.Getkey("Fecha Hasta"): </label>
                <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" max="2021-12-31" required />
            </div>

            <!-- BOTON -->
            <div class="form-group col-12 col-md-2 align-self-end">
                <input type="submit" value=@language.Getkey("Buscador") class="btn btn-success" />
            </div>
        </div>
    </form>
</div>
<!-- FIN DEL BUSCADOR-->


<!-- ALOJAMIENTOS -->
<div class="row row-cols-1 row-cols-md-2 mt-4">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-3 mb-4">
            <div class="card shadow">

                <!-- IMAGEN -->
                @if (item.Tipo == "Hotel")
                {
                    <img src="~/imgs/hotel.jpg" class="card-img-top image-alojamiento-all" alt="Imagen de un hotel">
                }
                else
                {
                    <img src="~/imgs/cabania.jpg" class="card-img-top image-alojamiento-all" alt="Imagen de una cabaña">
                }
                <div class="col mx-0">
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </h5>
                        <p class="card-text text-capitalize mb-0 pb-0">
                            @language.Getkey("Ciudad"): @item.Ciudad
                        </p>
                        <p class="card-text text-capitalize mb-0 pb-0">
                            @language.Getkey("Barrio"): @item.Barrio
                        </p>
                        <p class="card-text mb-0 pb-0">
                            TV @Html.DisplayFor(modelItem => item.Tv) | @Html.DisplayFor(modelItem => item.Estrellas) @language.Getkey("estrellas")
                        </p>
                        <p class="card-text">
                            $
                            @if (item.Tipo == "Hotel")
                            {
                                @Html.DisplayFor(modelItem => item.PrecioPorPersona)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.PrecioPorDia)
                            }
                        </p>
                        <form asp-controller="Reservas" asp-action="Create" method="POST" class="m-0 p-0">
                            <input type="hidden" name="id_alojamiento" value='@item.Id' />
                            <input type="hidden" name="fechaDesde" id="input_fechaDesde_reserva" value='@ViewData["fechaDesde"]' />
                            <input type="hidden" name="fechaHasta" id="input_fechaHasta_reserva" value='@ViewData["fechaHasta"]' />
                            <button type="submit" class="btn btn-success btn-block">@language.Getkey("Reservar")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<!-- VALIDACION DE FECHAS -->
<script type="text/javascript">

    // Fecha actual
    const hoy = moment(new Date()).format('YYYY-MM-DD')

    // Formulario
    const formulario = document.getElementById("formulario-reserva");
    const inputFechaDesde = document.getElementById("fechaDesde")
    const inputFechaHasta = document.getElementById("fechaHasta")
    inputFechaDesde.min = hoy
    inputFechaHasta.min = hoy

    formulario.addEventListener("submit", (e) => {
        e.preventDefault()

        const diasFechaDesde = moment(inputFechaDesde.value).dayOfYear()
        const diasFechaHasta = moment(inputFechaHasta.value).dayOfYear()

        if ((diasFechaHasta - diasFechaDesde) <= 0) {
            alert('Fechas no validas, vuelva a intentarlo')
            formulario.reset()
        } else {
            if (confirm("¿ Desea realizar la reserva ?")) {
                formulario.submit()
            }
        }
    })
</script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


