@model TPFinalGrupo4.Models.Alojamiento

@{
    ViewData["Title"] = "Edit";
}
@inject LanguageService language
@inject UsuarioContext context

<h1 class="text-center">@language.Getkey("Editar Alojamiento")</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="form-group col-4 d-none">
                    <label asp-for="Codigo" class="control-label">@language.Getkey("Codigo")</label>
                    <input asp-for="Codigo" class="form-control" />
                </div>
                <div class="form-group  col-6 col-lg-4">
                    <label asp-for="Ciudad" class="control-label">@language.Getkey("Ciudad")</label>
                    <select asp-for="Ciudad" class="form-control">
                        @foreach (var item in context.Ciudad)
                        {
                            <option value="@item.ID">@item.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group col-6 col-lg-4">
                    <label asp-for="Barrio" class="control-label">@language.Getkey("Estrellas")</label>
                    <input asp-for="Barrio" class="form-control" />
                    <span asp-validation-for="Barrio" class="text-danger"></span>
                </div>

                <div class="col-4">
                    <div class="row align-items-center justify-content-center">
                        <div class="form-group col-4 col-lg-3">
                            <label asp-for="Estrellas" class="control-label">@language.Getkey("Estrellas")</label>
                            <select asp-for="Estrellas" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span asp-validation-for="Estrellas" class="text-danger"></span>
                        </div>

                        <div class="form-group col-5 col-lg-3">
                            <label asp-for="CantidadDePersonas" class="control-label">@language.Getkey("Cantidad de Personas")</label>
                            <select asp-for="CantidadDePersonas" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <span asp-validation-for="CantidadDePersonas" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check align-self-center col-3 m-0 mt-3">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Tv" /> @Html.DisplayNameFor(model => model.Tv)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-3">
                    <label asp-for="Tipo" class="control-label">@language.Getkey("Tipo")</label>
                    <select asp-for="Tipo" class="form-control">
                        <option value="Hotel">@language.Getkey("Hotel")</option>
                        <option value="Cabaña">@language.Getkey("Cabaña")</option>
                    </select>
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>

                <div class="form-group col-5 col-lg-4">
                    <label asp-for="PrecioPorPersona" class="control-label">@language.Getkey("Precio por Persona")</label>
                    <input asp-for="PrecioPorPersona" class="form-control" />
                    <span asp-validation-for="PrecioPorPersona" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="PrecioPorDia" class="control-label">@language.Getkey("Precio por Dia")</label>
                    <input asp-for="PrecioPorDia" class="form-control" />
                    <span asp-validation-for="PrecioPorDia" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Habitaciones" class="control-label">@language.Getkey("Habitaciones")</label>
                    <input asp-for="Habitaciones" class="form-control" />
                    <span asp-validation-for="Habitaciones" class="text-danger"></span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Banios" class="control-label">@language.Getkey("Baños")</label>
                    <input asp-for="Banios" class="form-control" />
                    <span asp-validation-for="Banios" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <button type="submit" class="btn btn-success px-3"><i class="fas fa-save mr-2"></i>@language.Getkey("Guardar")</button>
                    <a asp-action="Index" class="btn btn-primary px-4">@language.Getkey("Volver")</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
