@model TPFinalGrupo4.Models.Reserva

@{
    ViewData["Title"] = "Reservar";
}

@if (ViewData["message"] != null)
{
    <div class="alert alert-danger" role="alert" id="alert-message-alojamiento-no-disponible">
        <strong>@ViewData["message"]</strong>
    </div>
    <script type="text/javascript">
        setTimeout(() => {
            document.getElementById("alert-message-alojamiento-no-disponible").remove()
        }, 4000)
    </script>
}

<div class="container pt-4">
    <div class="row justify-content-center align-items-center text-capitalize">
        <div class="col-10">
            <h1 class="display-4">@ViewData["alojamiento_tipo"]</h1>
        </div>
    </div>

    <hr />

    <div class="row pt-4">
        <div class="col">
            <form asp-action="Create" id="formulario-reserva">
                <input type="hidden" name="id_alojamiento" value="@ViewData["alojamiento_id"]" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row align-items-center justify-content-center">
                    <div class="col-md-10 pb-4">
                        <dl class="row">
                            <dt class="col-sm-4">
                                Barrio:
                            </dt>
                            <dd class="col-sm-8">
                                @ViewData["alojamiento_barrio"]
                            </dd>
                            <dt class="col-sm-4">
                                Estrellas
                            </dt>
                            <dd class="col-sm-8">
                                @ViewData["alojamiento_estrellas"]
                            </dd>
                            <dt class="col-sm-4">
                                Cantidad de Personas:
                            </dt>
                            <dd class="col-sm-8">
                                @ViewData["alojamiento_cantidadDePersonas"]
                            </dd>
                            @if (@ViewData["alojamiento_tv"].ToString() == "True")
                            {
                                <dt class="col-sm-4">
                                    TV:
                                </dt>
                                <dd class="col-sm-8">
                                    "Si"
                                </dd>
                            }
                            else
                            {
                                <dt class="col-sm-4">
                                    TV:
                                </dt>
                                <dd class="col-sm-8">
                                    "No"
                                </dd>
                            }
                            @if (ViewData["alojamiento_tipo"].ToString() == "hotel")
                            {
                                <dt class="col-sm-4">
                                    Precio x Persona:
                                </dt>
                                <dd class="col-sm-8">
                                    @ViewData["alojamiento_precioPorPersona"]
                                </dd>
                            }
                            else
                            {
                                <dt class="col-sm-4">
                                    Precio x Dia:
                                </dt>
                                <dd class="col-sm-8">
                                    @ViewData["alojamiento_precioPorDia"]
                                </dd>
                                <dt class="col-sm-4">
                                    Habitaciones:
                                </dt>
                                <dd class="col-sm-8">
                                    @ViewData["alojamiento_habitaciones"]
                                </dd>
                                <dt class="col-sm-4">
                                    Baños:
                                </dt>
                                <dd class="col-sm-8">
                                    @ViewData["alojamiento_banios"]
                                </dd>
                            }
                        </dl>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="fechaDesde" class="control-label">Fecha desde: </label>
                        <input type="date" class="form-control" name="fechaDesde" id="fechaDesde" max="2021-12-31" required />
                    </div>

                    <div class="form-group col-md-5">
                        <label for="fechaHasta" class="control-label">Fecha hasta: </label>
                        <input type="date" class="form-control" name="fechaHasta" id="fechaHasta" max="2021-12-31" required />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 pt-3">
                        <input type="submit" value="Reservar" class="btn btn-success" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script type="text/javascript">

    // Fecha actual
    const hoy = moment(new Date()).format('YYYY-MM-DD')

    // Formulario
    const formulario = document.getElementById("formulario-reserva");
    const inputFechaDesde = document.getElementById("fechaDesde")
    const inputFechaHasta = document.getElementById("fechaHasta")
    inputFechaDesde.min = hoy
    inputFechaHasta.min = hoy

    formulario.addEventListener("submit", (e) => {
        e.preventDefault()

        const diasFechaDesde = moment(inputFechaDesde.value).dayOfYear()
        const diasFechaHasta = moment(inputFechaHasta.value).dayOfYear()

        if ((diasFechaHasta - diasFechaDesde) <= 0) {
            alert('Fechas no validas, vuelva a intentarlo')
            formulario.reset()
        } else {
            if (confirm("¿ Desea realizar la reserva ?")) {
                formulario.submit()
            }
        }
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
