@model TPFinalGrupo4.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}
@inject LanguageService language

<div class="row text-center justify-content-center align-items-center pb-3">
    <div class="col-12">
        <h1>@language.Getkey("Borrar Reserva")</h1>
    </div>
    <div class="text-center col-12 justify-content-center align-items-center">
        <h3>@language.Getkey("¿Está seguro de querer borrar esta reserva?")</h3>
    </div>
</div>


<div>
    <hr />
    <div class="container pt-3">
        <dl class="row justify-content-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaDesde)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaDesde)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaHasta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaHasta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="col-sm-10 mb-4">
                @Html.DisplayFor(model => model.Precio)
            </dd>
        </dl>
        <form asp-action="Delete" id="formulario-reserva-delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger mr-2"><i class="fas fa-trash-alt mr-2"></i>@language.Getkey("Borrar")</button>
            <a asp-action="Index">@language.Getkey("Volver")</a>
        </form>
    </div>

</div>