@model IEnumerable<Trabajo_Final___Grupo_4.Models.Reserva>

@{
    ViewData["Title"] = "List";
}

<div class="row row-cols-1 row-cols-md-2 ">
    @foreach (var item in Model)
    {
        <div class="col-4 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-capitalize">
                        @Html.DisplayFor(modelItem => item.Alojamiento.Tipo)
                    </h5>
                    <p class="card-text text-capitalize mb-2 pb-0">
                        Fecha Desde: @item.FechaDesde
                    </p>
                    <p class="card-text text-capitalize mb-2 pb-0">
                        Fecha Hasta: @item.FechaHasta
                    </p>
                    <p class="card-text text-capitalize mb-2 pb-0">
                        Precio: @item.Precio
                    </p>
                    <a asp-route-id="@item.Id"
                       asp-controller="Reservas"
                       asp-action="Details"
                       class="btn btn-success">
                        Ver
                    </a>
                </div>
            </div>
        </div>
    }
</div>