@model IEnumerable<Trabajo_Final___Grupo_4.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Usuarios</h1>

<!--<p>
    <a asp-action="Create"><button type="button" class="btn btn-success btn-xs">Create New</button></a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intentos)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bloqueado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Intentos)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-warning btn-xs">Editar</button></a>
                    <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a> |-->
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger btn-xs">Borrar</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
