@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject LanguageService language

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1 justify-content-center">
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">@language.Getkey("Usuarios")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="Index">@language.Getkey("Alojamientos")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">@language.Getkey("Reservaciones")</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="all">@language.Getkey("Alojamientos")</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="Buscador">@language.Getkey("Buscador")</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="List">@language.Getkey("Mis Reservaciones")</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="MisDatos">@language.Getkey("Mis Datos")</a>
            </li>
        }

    </ul>
</div>