@model TPFinalGrupo4.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}
@inject LanguageService language

<h1 class="text-center my-4">@language.Getkey("Editar Usuario")</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group d-flex flex-column align-items-center mt-3">
                <div class="form-group col-5 d-none">
                    <label asp-for="Dni" class="control-label"></label>
                    <input asp-for="Dni" class="form-control" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-5 d-none">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-5 d-none">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-5 justify-content-around align-items-center">
                    <div class="row justify-content-around align-items-center">

                        <div class="form-group col-4 align-self-center">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsAdmin" /> @Html.DisplayNameFor(model => model.IsAdmin)
                            </label>
                        </div>
                        <div class="form-group col-4 align-self-center">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Bloqueado" /> @Html.DisplayNameFor(model => model.Bloqueado)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label asp-for="Intentos" class="control-label"></label>
                    <input asp-for="Intentos" class="form-control" />
                    <span asp-validation-for="Intentos" class="text-danger"></span>
                </div>
                <div class="form-group col-5 mt-2">
                    <button type="submit" class="btn btn-success px-3"><i class="fas fa-save me-2"></i>@language.Getkey("Guardar")</button>
                    <a asp-action="Index" class="btn btn-primary px-4">@language.Getkey("Volver")</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
