@model IEnumerable<TPFinalGrupo4.Models.Usuario>

@{ ViewData["Title"] = "Index"; }
@inject LanguageService language

<h1 class="text-center my-4">@language.Getkey("Usuarios")</h1>

<hr />

<table class="table table-bordered table-responsive-lg table-striped table-sm my-5">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="d-none">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intentos)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr class="text-center">
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Dni)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td class="d-none">
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.IsAdmin)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Bloqueado)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Intentos)
    </td>
    <td class="d-flex justify-content-around align-content-center">
        <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-warning btn-xs mr-2"><i class="fas fa-edit"></i> @language.Getkey("Editar")</a>
        <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i> @language.Getkey("Borrar")</a>
    </td>
</tr>
}
    </tbody>
</table>
