@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject LanguageService language

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1 justify-content-center">
        @if (User.IsInRole(true.ToString()))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">@language.Getkey("Usuarios")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="Index">@language.Getkey("Alojamientos")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">@language.Getkey("Reservaciones")</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="all">@language.Getkey("Alojamientos")</a>
            </li>

            <li class="nav-item">
<<<<<<< HEAD
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="MODIFICAR ESTO">@language.Getkey("Buscador")</a>
=======
                <a class="nav-link text-dark" asp-area="" asp-controller="Alojamientoes" asp-action="Buscador">Buscador</a>
>>>>>>> 3d679a6c3b8f3e1be32859e7d28a80bbb9fbd208
            </li>
            /* Acá tengo que crear una vista filtrar alojamientos, como la primera pero con una barra de búsqueda */

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="MODIFICAR ESTO">@language.Getkey("Mis Reservaciones")</a>
            </li>
            /* Acá tengo que crear una vista para ver las reservaciones de este usuario y poder cancelarlas */

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="CambiarContrasena">@language.Getkey("Cambiar Contraseña")</a>
            </li>
        }

    </ul>
</div>